#cookieCharts>table {
  position: relative;
  margin-top: 320px;
}

body {
  background-color: wheat;
}

button {
  padding: 6px 12px 6px 12px;
  margin-top: 20px;
  font-size: 20px;
}

footer {
  text-align: center;
  position: fixed;
  background-color: grey;
  bottom: 0;
  width: 100%;
}

#cookieCharts td {
  background-color: beige;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 0.7rem;
  font-size: 1rem;
}

/**/
header {
  position: fixed;
  background-color: grey;
  width: 100%;
  top: 0;
}

header div {
  width: 100%;
  text-align: center;
}

header ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 100px 18px 100px;
  text-decoration: none;
}

header li a:hover {
  background-color: #111;
}
