#cookieCharts > section {
  float: left;
  background-color: beige;
  border-style: solid;
  border-color: black;
  border-width: 0.2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 1rem;
}

body{
  background-color: wheat; 
}

footer {
  text-align: center;
  position: fixed;
  background-color: grey;
  bottom: 0;
  width: 100%;
}

td {
  background-color: beige;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 0.7rem;
  font-size: 1rem;
}
